<h2>all products..</h2>

<ul>
    <?php

$productCollection = $block->getProductCollection();
foreach ($productCollection as $product) {
    ?>
<li>
    <?php
    print_r($product->getData());
    ?>
</li>
    <?php
echo "<br>";
}
    ?>


</ul>






