<h1>Javscript example with requirejs</h1>

<script type="text/javascript">
    requirejs(['Pulsestorm_JavascriptInitTutorial/example'], function(example) {
        alert('Loaded');
        console.log(example);
    });
</script>