<h1>Todo Items</h1>


<h2>every items</h2>
<ul>
    <?php foreach($this->getItems() as $item): ?>
        <li><?php echo 'id : ' . $item->getId() . ' - ' . $item->getItemText() . " date completed : " . $item->getDateCompleted(); ?></li>
    <?php endforeach; ?>
</ul>

<h2>completed items (today)</h2>
<ul>
    <?php foreach($this->getCompleteItems() as $item): ?>
        <li><?php echo 'id : ' . $item->getId() . ' - ' . $item->getItemText() . " date completed : " . $item->getDateCompleted(); ?></li>
    <?php endforeach; ?>
</ul>